<section id="gmud-list">
	<!-- <div fxLayout="row" fxFlex="10%">
		<mat-list dense fxFlex="100%">
			<mat-list-item class="item-list-title">
				<span fxFlex="70%">Servidor / Projeto</span>
				<span>Ações</span>
			</mat-list-item>
			<mat-list-item *ngFor="let server of listSoftwares let i = index" class="list-item"> 
				<span fxFlex="70%">{{i+1}}. {{server?.server}}</span>
				<span fxFlex="70%" *ngFor="let software of server.softwares">{{software}}</span>
				<button mat-icon-button (click)="updateSoftware(server)" color="primary"
					matTooltip="Atualizar {{server?.nmSoft}}">
					<mat-icon aria-label="Update System">update</mat-icon>
				</button>
			</mat-list-item>
		</mat-list>
	</div>	 -->
	<div fxFlex="1%"></div>
	<div fxLayout="row" fxFlex="98%" fxLayoutAlign="center">
		<mat-accordion fxFlex="100%">			
			<mat-expansion-panel *ngFor="let server of listSoftwares let i = index" [expanded]="step === i" (opened)="setStep(i)"
			hideToggle>
				<mat-expansion-panel-header>
					<mat-panel-title>
						{{i+1}}. {{server?.server}}
					</mat-panel-title>
					<mat-panel-description>
						Softwares: {{server.softwares.length}}
						<mat-icon>map</mat-icon>
					</mat-panel-description>
				</mat-expansion-panel-header>
				<section class="content">
					<mat-list dense fxFlex="100%">
						<mat-list-item class="item-list-title">
							<span fxFlex="40%">Projeto</span>
							<span>Ações</span>
						</mat-list-item>
						<mat-list-item *ngFor="let software of server.softwares" class="list-item">
							<span fxFlex="40%">{{software}}</span>
							<button mat-icon-button (click)="updateSoftware(server)" color="primary" matTooltip="Atualizar {{software}}">
								<mat-icon aria-label="Update System">update</mat-icon>
							</button>
						</mat-list-item>
					</mat-list>
				</section>
			</mat-expansion-panel>
		</mat-accordion>
	</div>	
	<div fxFlex="1%"></div>
</section>